---
http_interactions:
- request:
    method: post
    uri: https://gatewaybeta.fedex.com/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0"?><RateRequest xmlns="http://fedex.com/ws/rate/v13">  <WebAuthenticationDetail>    <UserCredential>      <Key>HqUOFNn4UgfD8kfx</Key>      <Password>wRVpUWXgPBilzjKPYJNkdKLwd</Password>    </UserCredential>  </WebAuthenticationDetail>  <ClientDetail>    <AccountNumber>510087100</AccountNumber>    <MeterNumber>118974156</MeterNumber>  </ClientDetail>  <TransactionDetail>    <CustomerTransactionId>ActiveShipping</CustomerTransactionId>  </TransactionDetail>  <Version>    <ServiceId>crs</ServiceId>    <Major>13</Major>    <Intermediate>0</Intermediate>    <Minor>0</Minor>  </Version>  <ReturnTransitAndCommit>true</ReturnTransitAndCommit>  <RequestedShipment>    <ShipTimestamp>2017-11-21T16:34:01+00:00</ShipTimestamp>    <DropoffType>REGULAR_PICKUP</DropoffType>    <PackagingType>YOUR_PACKAGING</PackagingType>    <Shipper>      <Address>        <StreetLines>115
        West 18th Street</StreetLines>        <City>New York</City>        <PostalCode>10011</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Shipper>    <Recipient>      <Address>        <StreetLines>1501-1519
        NW 8th St</StreetLines>        <City>Fort Lauderdale</City>        <PostalCode>33311</PostalCode>        <CountryCode>US</CountryCode>        <Residential>true</Residential>      </Address>    </Recipient>    <SmartPostDetail>      <Indicia>PARCEL_SELECT</Indicia>      <HubId>5902</HubId>    </SmartPostDetail>    <RateRequestTypes>ACCOUNT</RateRequestTypes>    <PackageCount>1</PackageCount>    <RequestedPackageLineItems>      <GroupPackageCount>1</GroupPackageCount>      <Weight>        <Units>LB</Units>        <Value>3.086</Value>      </Weight>      <Dimensions>        <Length>17</Length>        <Width>14</Width>        <Height>9</Height>        <Units>IN</Units>      </Dimensions>    </RequestedPackageLineItems>  </RequestedShipment></RateRequest>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Csr-Elapsed-Millis:
      - '2692'
      X-Csr-Log-Transaction-Id:
      - 610b2614-7fd7-4795-96a1-a188e8aa7bcf
      X-Wily-Servlet:
      - Encrypt1 GaMcoOotgOSMyoYj73M4dnY9VmBKurAkD+SbzSPnH0WFNGtJQKs/gPJtE6PWLUn+deK/WcngbBeABtEbdpgyZ9+iwxbnGbX6yhuOjc/bv47Xjvc7pFFf9JLR6lfht0X5RlsuNlnd+KPA9YD9hmBLd6qZ7gs3+LiR9wdWdjwIxbM=
      X-Wily-Info:
      - Clear guid=DF6DEC78CC87ECD2059418138CAF7FF9
      Responsesslprotocol:
      - TLSv1.2
      Content-Type:
      - application/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><RateReply xmlns="http://fedex.com/ws/rate/v13"><HighestSeverity>NOTE</HighestSeverity><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>819</Code><Message>The
        origin state/province code has been changed.  </Message><LocalizedMessage>The
        origin state/province code has been changed.  </LocalizedMessage></Notifications><Notifications><Severity>NOTE</Severity><Source>crs</Source><Code>820</Code><Message>The
        destination state/province code has been changed.  </Message><LocalizedMessage>The
        destination state/province code has been changed.  </LocalizedMessage></Notifications><TransactionDetail><CustomerTransactionId>ActiveShipping</CustomerTransactionId></TransactionDetail><Version><ServiceId>crs</ServiceId><Major>13</Major><Intermediate>0</Intermediate><Minor>0</Minor></Version><RateReplyDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><PackagingType>YOUR_PACKAGING</PackagingType><DeliveryStation>HWOA
        </DeliveryStation><DeliveryDayOfWeek>WED</DeliveryDayOfWeek><DeliveryTimestamp>2017-11-22T08:00:00</DeliveryTimestamp><CommitDetails><ServiceType>FIRST_OVERNIGHT</ServiceType><CommitTimestamp>2017-11-22T08:00:00</CommitTimestamp><DayOfWeek>WED</DayOfWeek><DestinationServiceArea>A1</DestinationServiceArea><BrokerToDestinationDays>0</BrokerToDestinationDays><DocumentContent>NON_DOCUMENTS</DocumentContent></CommitDetails><DestinationAirportId>FLL</DestinationAirportId><IneligibleForMoneyBackGuarantee>false</IneligibleForMoneyBackGuarantee><OriginServiceArea>A1</OriginServiceArea><DestinationServiceArea>A1</DestinationServiceArea><SignatureOption>SERVICE_DEFAULT</SignatureOption><ActualRateType>PAYOR_ACCOUNT_PACKAGE</ActualRateType><RatedShipmentDetails><ShipmentRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RateScale>14</RateScale><RateZone>6</RateZone><PricingCode>PACKAGE</PricingCode><RatedWeightMethod>DIM</RatedWeightMethod><DimDivisor>194</DimDivisor><FuelSurchargePercent>2.5</FuelSurchargePercent><TotalBillingWeight><Units>LB</Units><Value>12.0</Value></TotalBillingWeight><TotalDimWeight><Units>LB</Units><Value>12.0</Value></TotalDimWeight><TotalBaseCharge><Currency>USD</Currency><Amount>167.41</Amount></TotalBaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><TotalNetFreight><Currency>USD</Currency><Amount>167.41</Amount></TotalNetFreight><TotalSurcharges><Currency>USD</Currency><Amount>8.13</Amount></TotalSurcharges><TotalNetFedExCharge><Currency>USD</Currency><Amount>175.54</Amount></TotalNetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><TotalNetCharge><Currency>USD</Currency><Amount>175.54</Amount></TotalNetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><TotalDutiesAndTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalDutiesAndTaxes><TotalNetChargeWithDutiesAndTaxes><Currency>USD</Currency><Amount>175.54</Amount></TotalNetChargeWithDutiesAndTaxes><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential
        delivery</Description><Amount><Currency>USD</Currency><Amount>3.85</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>4.28</Amount></Amount></Surcharges></ShipmentRateDetail><RatedPackages><GroupNumber>0</GroupNumber><PackageRateDetail><RateType>PAYOR_ACCOUNT_PACKAGE</RateType><RatedWeightMethod>DIM</RatedWeightMethod><BillingWeight><Units>LB</Units><Value>12.0</Value></BillingWeight><DimWeight><Units>LB</Units><Value>12.0</Value></DimWeight><BaseCharge><Currency>USD</Currency><Amount>167.41</Amount></BaseCharge><TotalFreightDiscounts><Currency>USD</Currency><Amount>0.0</Amount></TotalFreightDiscounts><NetFreight><Currency>USD</Currency><Amount>167.41</Amount></NetFreight><TotalSurcharges><Currency>USD</Currency><Amount>8.13</Amount></TotalSurcharges><NetFedExCharge><Currency>USD</Currency><Amount>175.54</Amount></NetFedExCharge><TotalTaxes><Currency>USD</Currency><Amount>0.0</Amount></TotalTaxes><NetCharge><Currency>USD</Currency><Amount>175.54</Amount></NetCharge><TotalRebates><Currency>USD</Currency><Amount>0.0</Amount></TotalRebates><Surcharges><SurchargeType>RESIDENTIAL_DELIVERY</SurchargeType><Description>Residential
        delivery</Description><Amount><Currency>USD</Currency><Amount>3.85</Amount></Amount></Surcharges><Surcharges><SurchargeType>FUEL</SurchargeType><Description>Fuel</Description><Amount><Currency>USD</Currency><Amount>4.28</Amount></Amount></Surcharges></PackageRateDetail></[...]
[...]
