<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <title>Spots</title>
    <link rel="stylesheet" href="https://unpkg.com/cropperjs@1.2.2/dist/cropper.min.css" type="text/css">
  </head>
  <body>
    <div id="app"></div>
    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGJMofhQzgtFfh7lNIycXKkIIm5-JwpnA&libraries=places,geometry"></script>
    <script src="js/app.js"></script>
    <script>spots.core.main();</script>
  </body>
</html>
